# Node.js
node_modules/

# Environment Files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Flutter/Dart (if applicable)
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.idea/
